# Recursive replace on macos/BSD sed - use with care, prob super dangerous =)
# Only add if on macos
if [ -d /Users ]; then
    recurs-replace() {
        grep -e "$1" -rl . | while IFS= read -r file; do
            sed -i '' "s/$1/$2/g" "$file"
        done
    }
fi


# If on macos, set language
if [ -d /Users ]; then
    export LANGUAGE=en:en_US:en
else
fi



# Function for testing piping
pipetest() { 
    if [[ $1 ]]; then
        echo "This is $1"
    else
        xargs echo "This is from stdin"
    fi
}
