# Recursive replace on macos/BSD sed - use with care, prob super dangerous =)
# Only add if on macos
if [ -d /Users ]; then
    recurs-replace() {
        grep -e "$1" -rl . | while IFS= read -r file; do
            sed -i '' "s/$1/$2/g" "$file"
        done
    }
fi


# If on macos, set language
if [ -d /Users ]; then
    export LANGUAGE=en:en_US:en
else
fi


# Watch pods
wkgpod() {
    watch "kubectl get pods -A | grep '$1'"
}

# Watch pv
wkgpv() {
    watch "kubectl get pv -A | grep '$1'"
}

# Watch pvc
wkgpvc() {
    watch "kubectl get pvc -A | grep '$1'"
}

## Make kubectl returns results by creation time by default
#kubectl() {
#    if [[ "$1" == "get" ]]; then
#        command kubectl get --sort-by=.metadata.creationTimestamp "${@:2}"
#    else
#        command kubectl "$@"
#    fi
#}

# Function for testing piping
pipetest() { 
    if [[ $1 ]]; then
        echo "This is $1"
    else
        xargs echo "This is from stdin"
    fi
}
